VITE_MASTER_WALLET_MNEMONIC="YOUR_MNEMONIC_HERE"
VITE_ALGOD_TOKEN="YOUR_ALGOD_TOKEN" # aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
VITE_ALGOD_URL="YOUR_ALGOD_URL" # https://testnet-api.algonode.cloud
VITE_ALGOD_PORT=YOUR_ALGOD_PORT # 443
VITE_ARC18_APP_ID=YOUR_APP_ID # 721169157
VITE_ARC18_APP_ADDRESS="YOUR_APP_ADDRESS" # 5RUXNTWN4RBX36GSC4JHSZIUBP4TGIZGJICKYXR3FWA7XLB34RFISNVNHI